
.outerContainer {
    padding: 3%;
    margin: 5%;
    background-color: #d8d8d8;
}

.innerContainer {
    margin: 0 auto;
    display: flex;

}

.coverImage {
    width: 22rem;
    height: 22rem;
}

.textContainer {
    padding-left: 2rem;
    padding-top: 2rem;
    height: 18rem;
}

.textContainer h1 {
    font-size: 6rem;
}

.textContainer h4 {
    color: #686868;
    padding: 0.15rem;
}

.artistContainer {
    padding-top: 1rem;
    padding-bottom: 2rem;
    display: flex;
    align-items: center;
}

.artistLink:hover {
    text-decoration: underline;
}

.artistContainer h3 {
    padding-left: 0.5rem;
}

.artistImage {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
}

@media (prefers-color-scheme: dark) {
    .outerContainer {
        background-color: #1f1f1f;
    }
    .textContainer h4 {
        color: grey;
    }
}