
.outerContainer {
    padding: 5%;
    margin: 5%;
    margin-top: 0;
    background-color: #d8d8d8;
    transition: 0.4s;
    outline: 0.5rem solid rgba(1,1,1,0);
}

.tracklist {
    display: table;
    width: 100%;
    margin: 0 auto;
    font-size: 1.2rem;
    border-spacing: 0 0.5rem;
}

.tracklist tr {
    transition: background-color 0.5s, scale 0.7s;
}

.unselected {
    background-color: #c4c4c4;
}
.disabled {
    background-color: #c4c4c4;
}
.unselected:hover {
    scale: 1.04;
    background-color: #a0a0a0;
    cursor: pointer;
}
.selected1 {
    background-color: rgb(0, 174, 255);
    cursor: pointer;
}
.selected2 {
    background-color: rgb(255, 68, 0);
}
.correct {
    background-color: limegreen;
}


.tracklist td {
    padding: 1.5rem 2rem;
    transition: 0.3s;
}


.tracklist th {
    padding: 0.5rem 2rem;
    color: #686868;
    font-weight: normal;
}

.titleText {
    text-align: left;
}


.duration {
    width: 3rem;
    text-align: center;
}

.clock {
    width: 3rem;
    text-align: center;
}

.rank {
    color: #686868;
    font-weight: bold;
    width: 3rem;
    text-align: right;
}

@media (prefers-color-scheme: dark) {
    .outerContainer {
        background-color: #1f1f1f;
    }
    .unselected {
        background-color: #1c1c1c;
    }
    .disabled {
        background-color: #1c1c1c;
    }
    .selected1 {
        background-color: rgb(0, 0, 191);
    }
    .selected2 {
        background-color: rgba(169, 0, 0, 0.857);
    }
    .correct {
        background-color: green;
    }
    .unselected:hover {
        background-color: #1a1a1a;
    }
    .tracklist th, .rank {
        color: grey;
    }
}