  
.albumCollection {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 2rem 4rem;
}

.albumCard {
  display: flex;
  width: 20rem;
  height: 9rem;
  margin: 2rem;
  background-color: rgb(174, 19, 19);
  padding: 1rem;
  border-radius: 1.5rem;
  border: solid black 0.1rem;
  transition: 0.3s ease;
  cursor: pointer;
}

.albumCard:hover {
  transform: scale(1.05);
  filter: brightness(1.2);
}


.albumText {
  width: 11em;
  margin: 0 1rem;
  text-align: left;
}

.albumText h3, h4 {
  margin: 0;
  max-width: 10rem;
  max-height: 3.4rem;
  display: -webkit-box;
  line-clamp: 2;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 0.5rem;
}

.albumText h4 {
  max-height: 2.8rem;
}

.albumImage img {
  width: 7rem;
  height: 7rem;
  border-radius: 1rem;
  border: solid black 0.1rem;
}
