
.outerContainer {
    width: 90%;
    padding: 5%;
    margin: 4rem auto;
    background-color: #d8d8d8;
}

.tracklist {
    display: table;
    width: 100%;
    margin: 0 auto;
    font-size: 1.2rem;
    border-spacing: 0 0.5rem;
}


.tracklist tr {
    transition: background-color 0.3s, scale 0.7s;
    background-color: #c4c4c4;
}


.tracklist tbody tr:hover {
    scale: 1.04;
    background-color: #a0a0a0;
}

.tracklist td {
    padding: 1.5rem 2rem;
    transition: 0.3s;
}


.tracklist th {
    padding: 0.5rem 2rem;
    color: #686868;
    font-weight: normal;
}

.titleText {
    text-align: left;
}


.duration {
    width: 3rem;
    text-align: center;
}

.clock {
    width: 3rem;
    text-align: center;
}

.rank {
    color: #686868;
    font-weight: bold;
    width: 3rem;
    text-align: right;
}

@media (prefers-color-scheme: dark) {
    .outerContainer {
        background-color: #1f1f1f;
    }
    .tracklist tr {
        background-color: #1c1c1c;
    }
    .tracklist tbody tr:hover {
        background-color: #1a1a1a;
    }
    .tracklist th, .rank {
        color: grey;
    }
}